<!-- Start Header Area -->
<header class="header-area">
  <!-- Start Top Header -->
  <div class="top-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <div class="header-group">
            <div id="line1">
              <i class="bx bx-home"></i>
              <span id="line1">FF 14 Pramukh Plaza,Opp. Voltamp Company,Nr. Maneja Crossing,Vadodara-390013</span>
            </div>
            
            <div>
              <i class="bx bx-phone-call"></i>
              <a id="phnLink" href="tel:+91-9879924771">+91-9879924771</a>
            </div>
            <div>
              <i class="bx bx-envelope"></i>
              <a id="emailLink" href="mumbaigujaratcourier@gmail.com">mumbaigujaratcourier@gmail.com</a>
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-4 col-md-2">
          <div class="header-right-content">
            <ul class="flag-area">
              <li class="flag-item-top">
                <a href="#" class="flag-bar">
                  <img src="../../assets/images/flag/usa.png" alt="Image">
                  <span>USA</span>
                </a>

                <ul class="flag-item-bottom">
                  <li class="flag-item">
                    <a href="#" class="flag-link">
                      <img src="../../assets/images/flag/canada.png" alt="Image">
                      Canada 
                    </a>
                  </li>
                  <li class="flag-item">
                    <a href="#" class="flag-link">
                      <img src="../../assets/images/flag/australia.png" alt="Image">
                      Australia
                    </a>
                  </li>
                  <li class="flag-item">
                    <a href="#" class="flag-link">
                      <img src="../../assets/images/flag/germany.png" alt="Image">
                      Germany
                    </a>
                  </li>
                  <li class="flag-item">
                    <a href="#" class="flag-link">
                      <img src="../../assets/images/flag/argentina.png" alt="Image">
                      Argentina
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- Start Top Header -->
  
  <!-- Start Navbar Area -->
  <div class="navbar-area">
    <div class="mobile-nav">
      <div class="container">
        <div class="mobile-menu">
          <div class="logo">
            <a href="index.html">
              <img src="../../assets/images/logo.png" alt="logo">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="desktop-nav">
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href="index.html">
            <img src="../../assets/images/logo.png" alt="logo">
          </a>

          <div class="collapse navbar-collapse mean-menu">
            <ul class="navbar-nav m-auto">
              <li class="nav-item">
                <a routerLink="home" routerLinkActive="active" class="nav-link">
                  Home
                </a>
              </li>
  
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Pages
                  <!-- <i class="bx bx-chevron-down"></i> -->
                </a>
              </li>
  
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Services
                  <!-- <i class="bx bx-chevron-down"></i> -->
                </a>
              </li>
  
              <li class="nav-item">
                <a routerLink="branches" routerLinkActive="active" class="nav-link">
                  Branches
                  <!-- <i class="bx bx-chevron-down"></i> -->
                </a>
              </li>
  
              <li class="nav-item">
                <a routerLink="tracking" routerLinkActive="active" class="nav-link">Tracking</a>
              </li>
              <li class="nav-item">
                <a routerLink="contactus" routerLinkActive="active" class="nav-link">Contact Us</a>
              </li>
            </ul>
            
            
          </div>
        </nav>
      </div>
    </div>

    <div class="others-option-for-responsive">
      <div class="container">
        <div class="dot-menu">
          <div class="inner">
            <div class="circle circle-one"></div>
            <div class="circle circle-two"></div>
            <div class="circle circle-three"></div>
          </div>
        </div>
        
        <div class="container">
          <div class="option-inner">
            <div class="others-option justify-content-center d-flex align-items-center">
              <div class="get-quote">
                <a href="pricing-style-two.html" class="default-btn">
                  <span>Get A Quote</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Navbar Area -->
</header>
<!-- End Header Area -->


  <!-- <div class="others-option-for-responsive">
    <div class="container">
      <div class="dot-menu">
        <div class="inner">
          <div class="circle circle-one"></div>
          <div class="circle circle-two"></div>
          <div class="circle circle-three"></div>
        </div>
      </div>
      
      <div class="container">
        <div class="option-inner">
          <div class="others-option justify-content-center d-flex align-items-center">
            <div class="get-quote">
              <a href="pricing-style-two.html" class="default-btn">
                <span>Get A Quote</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<!-- End Navbar Area -->

<router-outlet></router-outlet>

<!-- Start Footer Area -->
<footer class="footer-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <a href="index.html" class="logo">
            <img src="../../assets/images/logo.png" alt="Image">
          </a>

          <p>Mumbai Gujarat Courier & Cargo Services is committed to ensuring customers needs for quality shipping, logistics and transport services are understood and met.</p>

          <ul class="social-icon">
            <li>
              <a href="#">
                <i class="bx bxl-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bx bxl-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bx bxl-linkedin-square"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bx bxl-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <h3>Services</h3>

          <ul class="import-link">
            <li>
              <a href="#">Sea Freight</a>
            </li>
            <li>
              <a href="#">Air Freight</a>
            </li>
            <li>
              <a href="#">Road Freight</a>
            </li>
            <li>
              <a href="#">Local Delivery</a>
            </li>
            <li>
              <a href="#">Bus Freight</a>
            </li>
            <li>
              <a href="#">Car Freight</a>
            </li>
          </ul>
        </div>
      </div> -->

      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <h3>Company</h3>

          <ul class="import-link">
            <li>
              <a routerLink="contactus">Conatct Us</a>
            </li>
            <li>
              <a href="team.html">Team</a>
            </li>
            
            <li>
              <a routerLink="branches" routerLinkActive="active" >Branches</a>
            </li>
            <!-- <li>
              <a href="privacy-policy.html">Privacy Policy</a>
            </li>
            <li>
              <a href="terms-conditions.html">Terms And Conditions</a>
            </li> -->
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="single-footer-widget">
          <h3>Address</h3>

          <ul class="address">
            <li class="location">
              <i class="bx bxs-location-plus"></i>
              FF 14 Pramukh Plaza,Opp. Voltamp Company,Nr. Maneja Crossing,Vadodara-390013 
            </li>
            <li>
              <i class="bx bxs-envelope"></i>
              <a href="mumbaigujaratcourier@gmail.com">mumbaigujaratcourier@gmail.com</a>
              <a href="mailto:info@ezio.com">info@ezio.com</a>
            </li>
            <li>
              <i class="bx bxs-phone-call"></i>
              <a href="tel:+91-9879924771">+91-9879924771</a>
              <a href="tel:+91-8000075739">+91-8000075739</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Area -->

<!-- Start Copy Right Area -->
<div class="copy-right-area">
  <div class="container">
    <p>Copyright @Sweta Designed <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
  </div>
</div>
<!-- End Copy Right Area -->